<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connstr" connectionString="Server=tcp:is345workspace.database.windows.net,1433;Initial Catalog=pomodoro;Persist Security Info=False;User ID=tvnguyen;Password=@Spring2024@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>